fastapi
fastapi[standard]
uvicorn[standard]
pydantic>=2
pydantic-settings
python-dotenv
langchain==0.3.27
langchain-core==0.3.78
langchain-openai==0.3.34
langchain-text-splitters==0.3.11
openai==2.1.0
supabase
firebase-admin
numpy
